.dark {
  background: dimgrey;
}

.dark-text {
  color: rgb(73, 70, 70);
}

.red {
  background: lightcoral;
}

.red-text {
  color: rgb(255, 0, 0);
}

.some {
  background: lightgreen;
}

.some-text {
  color: darkslateblue;
}
