.Error404 {
  margin: 15px;
}
.numberError {
  color: red;
  font-size: 35px;
}

.link {
  margin: 5px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.link:hover {
  opacity: 0.4;
}

.returnHomePage {
  font-size: 17px;
  margin-top: 20px;
}
