.containerSlider {
  display: flex;
  align-items: center;
}

.slider {
  height: 8px;
  background: rgb(217, 211, 211);
  border-radius: 5px;
  position: relative;
  margin: 4px;
  width: 117px;
}

.slider .progress {
  height: 8px;
  left: 25%;
  right: 25%;
  position: absolute;
  background: #0082f2;
  border-radius: 5px;
}

.rangeInput {
  position: relative;
}

.rangeInput input {
  position: absolute;
  background: none;
  height: 4px;
  width: 100%;
  pointer-events: none;
  -webkit-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  -webkit-appearance: none;
  pointer-events: auto;
  border-radius: 50%;
  background: #0082f2;
}
