.someClass {
  color: white;
}

.error {
  color: red;
}

.btn {
  width: 60px;
  margin: 10px;
  font-size: 12px;
  background-color: rgb(97, 101, 101);
  border: rgb(189, 184, 184) 2px solid;
  border-radius: 2px;
  color: white;
  cursor: pointer;
}

.btn:hover {
  color: rgb(47, 45, 45);
  transition: 0.3s linear;
  font-weight: bold;
}
